html {
    height: max-content;
}

.contents {
    margin: 20px 200px;
}

.contents a {
    display       : inline-block;
    font-size     : 12pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px;   /* 余白       */
    background    : #ecebeb;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 19px;         /* 1行の高さ  */
    border: solid 1px;
    border-color: #9c9c9c;
    border-radius: 5%;
    margin-right: 100px;
}

.submit {
    margin-left: 100px;
    padding: 0px 30px;
}

.button {
    text-align: center;
    margin: 30px 0px 50px 0px;
}