html,body{
    height: 100%;
    background-color: rgb(250, 246, 215);
    padding-top: 30px;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(217, 248, 197);
    height: 60px;
    width: 100%;
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
    z-index: 999;
}

ul {
    margin-left: 700px;
}

header a:hover {
    color: #000 !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: none;
}

.app-name {
    color: black;
    font-family: 'Varela Round', sans-serif;
}

.menu-item {
    padding: 10px;
}

.item-box {
    text-align: center;
    display: inline-block;
    color: black;
    font-size: 20px;
}

.item {
    font-size: 5px;
}


.heart {
    color: red;
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
}